<div class="row text-center">
  <div class="col-lg-12 col-md-12 mb-4 mb-lg-12">
    <h3 class="centralizar-texto">Bem vindo Hooper!!</h3>
  </div>
  <div class="col-lg-12 col-md-12 mb-4 mb-lg-0 d-flex justify-content-center">
    <div class="card cor-azul text-white text-center mb-4 pointer" [routerLink]="['/time/listagem']" queryParamsHandling="preserve">
      <div class="card-body">
        <h5 class="card-title">Times</h5>
        <p>Times cadastrados no sistema</p>
      </div>
    </div>
  </div>
</div>