
<div class="container-fluid">
  <h2 class="centralizar-texto">Listagem de times</h2>

  <div class="container-fluid d-flex justify-content-end">
    <a class="btn btn-success" style="margin-bottom: 10px;" [routerLink]="['/time/cadastro']" queryParamsHandling="preserve"style="background-color:#f0780e">Adicionar</a>
  </div>

  <div class="table-responsive">
    <table class="table">

      <thead>
        <tr>
          <th>Ações</th>
          <th>Id</th>
          <th>Nome</th>
          <th>Divisao</th>
          <th>NomeTecnico</th>
          <th>Cidade</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let time of this.listaTimes">
          <td>
            <!-- Botão de Edição -->
            <a class="btn btn-primary btn-sm" style="margin-right: 5px;" [routerLink]="['/time/cadastro/', time.id]">Editar</a>

            <!-- Botão de Exclusão -->
            <a class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="this.confirmarEExcluir(time.id)">Excluir</a>
        </td>
          <td>{{time.id}}</td>
          <td>{{time.nome}}</td>
          <td>{{time.divisao }}</td>
          <td>{{time.nometecnico }}</td>
          <td>{{time.cidade}}</td>
        </tr>

      </tbody>

    </table>
  </div>







</div>



