<div class="container">
  <h2 class="centralizar-texto">Cadastro de time</h2>

  <form [formGroup]="this.formulario" (ngSubmit)="this.submeterForm()" novalidate [ngClass]="{'submitted': this.formSubmetido}">
    <div class="row">

      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Nome</label>
        <input type="text" class="form-control" placeholder="Preencha um nome" formControlName="nome">
        <validator [formSubmitted]="this.formSubmetido" [errors]="this.formulario?.get('nome')?.errors"></validator>
      </div>

      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Divisao</label>
        <input type="text" class="form-control" placeholder="Preencha um Divisao" formControlName="divisao">
        <validator [formSubmitted]="this.formSubmetido" [errors]="this.formulario?.get('divisao')?.errors"></validator>
      </div>

      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">NomeTecnico</label>
        <input type="text" class="form-control" placeholder="Preencha um NomeTecnico" formControlName="nomeTecnico">
        <validator [formSubmitted]="this.formSubmetido" [errors]="this.formulario?.get('nomeTecnico')?.errors"></validator>
      </div>

      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Cidade</label>
        <input type="text" class="form-control" placeholder="Preencha uma cidade" formControlName="cidade" >
        <validator [formSubmitted]="this.formSubmetido" [errors]="this.formulario?.get('cidade')?.errors"></validator>
      </div>

      <div class="form-group col-sm-12 action-buttons">
        <a class="btn btn-secondary float-left" [routerLink]="['/time/listagem']" queryParamsHandling="preserve">Voltar</a>
        <button type="submit" class="btn btn-primary float-right" style="background-color:#f0780e">Salvar</button>
          
      </div>

    </div>
  
  </form>

</div>
